@inherits LayoutComponentBase

<div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
    <div class="container">
        <!-- Aquí se renderizará el Login.razor -->
        @Body
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa; /* Gris muy claro */
    }
</style>