<div class="nav-item px-3">
    <NavLink class="nav-link" href="alumnos">
        <span class="oi oi-people" aria-hidden="true"></span> Alumnos
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="maestros">
        <span class="oi oi-briefcase" aria-hidden="true"></span> Maestros
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="materias">
        <span class="oi oi-book" aria-hidden="true"></span> Materias
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="calificaciones/captura">
        <span class="oi oi-pencil" aria-hidden="true"></span> Calificar
    </NavLink>
</div>

<div class="nav-item px-3">
    <!-- El href debe ser "calificaciones", NO "calificaciones/captura" -->
    <NavLink class="nav-link" href="calificaciones">
        <span class="oi oi-pencil" aria-hidden="true"></span> Calificaciones
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="caja">
        <span class="oi oi-dollar" aria-hidden="true"></span> Caja
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="pagos">
        <span class="oi oi-spreadsheet" aria-hidden="true"></span> Historial Pagos
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="asistencias/reporte">
        <span class="oi oi-spreadsheet" aria-hidden="true"></span> Reporte Asistencia
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="conducta">
        <span class="oi oi-star" aria-hidden="true"></span> Conducta
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="notificaciones">
        <span class="oi oi-bell" aria-hidden="true"></span> Notificaciones
    </NavLink>
</div>